.Habilidades{
    padding-top: 15px;
    text-align: center;
}

.BoxAvatar{
    img{
        width: 200px;
    }
}

.BoxDeHabilidades{
    margin-top: 18px;

    h1{
        font-size: 35px;
    }

}

.ListaHabilidades{
    height: 238px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

@media(min-height: 640px){
    .ListaHabilidades{
        height: 350px;
    }
}

@media(min-height: 840px){
    .ListaHabilidades{
        height: 510px;
    }
}

@media(min-width: 414px){
    .BoxAvatar{
        img{
            width: 250px;
        }
    }
}

@media(min-width: 800px){
    .Habilidades{
        display: flex;
        text-align: left;
    }

    .BoxDeHabilidades{
        h1{
            font-size: 45px;
        }
    }

    .ListaHabilidades{
        justify-content: left;
        height: 350px;
    }

    .BoxAvatar{
        img{
            width: 290px;
            padding-top: 70px;
        }
    }
}

@media(min-width: 1024px){
    .Habilidades{
        margin: 20px 0 0 210px;
        padding: 0;
    }

    .BoxDeHabilidades{
        margin: 0;
        h1{
            font-size: 52px;
        }
    }

    .BoxAvatar{
        img{
            width: 300px;
            padding-top: 50px;
        }
    }

    .ListaHabilidades{
        width: 400px;
        height: 460px;
    }
}

@media(min-width: 1280px){
    .Habilidades{
        margin: 20px 0 0 210px;
    }

    .BoxDeHabilidades{
        h1{
            font-size: 62px;
        }
    }

    .BoxAvatar{
        img{
            width: 350px;
            padding-top: 50px;
        }
    }

    .ListaHabilidades{
        width: 700px;
        height: 550px;
        overflow: hidden;
    }
}

@media(min-width: 1440px){
    .Habilidades{
        margin: 100px 0 0 210px;
    }

    .BoxAvatar{
        img{
            width: 400px;
        }
    }

    .BoxDeHabilidades{
        width: 700px;
    }
}

@media(min-width: 1600px){
    .BoxAvatar{
        img{
            width: 600px;
        }
    }
}

@media(min-width: 1920px){
    .BoxAvatar{
        img{
            width: 700px;
        }
    }

    .BoxDeHabilidades{
        width: 800px;
        h1{
            font-size: 82px;
        }
    }

    .ListaHabilidades{
        width: 900px;
    }
}