.conhecimentos{
    padding: 18px;

    h2{
        color: white;
        font-size: 40px;
        margin-bottom: 20px;
    }
}

.listasDeConhecimentos{
    display: flex;
    justify-content: center;
}

@media (max-width: 480px){
    .conhecimentos{
        padding: 0 18px;

        h2{
            margin-top: 10;
            font-size: 32px;
            text-align: center;
        }
    }
}