.Projetos{
    padding-top: 5px;
    text-align: center;
}

.ImagemAvatar{
    margin-top: 15px;

    img{
        width: 70px;
    }
}

.BoxProjetos{
    margin-top: 15px;

    h1{
        font-size: 35px;
    }
}

@media(min-height: 840px){
    .ImagemAvatar{
        img{
            width: 100px;
        }
    }
}

@media(min-width: 800px){
    .Projetos{
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .BoxProjetos{
        margin: 0 100px 50px 0;
        h1{
            font-size: 45px;
        }
    }

    .ImagemAvatar{
        img{
            width: 130px;
            padding-top: 30px;
        }
    }
}

@media(min-width: 1024px){
    .Projetos{
        margin: 32px 0 0 210px;
    }
}

@media(min-width: 1280px){
    .Projetos{
        margin: 80px 0 0 210px;
    }

    .BoxProjetos{
        h1{
            font-size: 62px;
        }
    }

    .ImagemAvatar{
        img{
            width: 180px;
        }
    }
}

@media(min-width: 1600px){
    .ImagemAvatar{
        img{
            width: 212px;
        }
    }
}

@media(min-width: 1920px){
    .ImagemAvatar{
        img{
            width: 212px;
        }
    }
}