.botao{
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    width: 170px;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 2px 5px black;
    cursor: pointer;
    transition: color 0.3s;
    margin: 0 10px;
}

.botao:hover{
    color: rgb(33, 135, 231);
}

.botaoInativo{
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    width: 170px;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 2px 5px black;
    transition: color 0.3s;
    margin: 0 10px;
}

@media (max-width: 480px){
    .botao{
        font-size: 15px;
        width: 100px;
        margin: 15px 10px;

    }

    .botaoInativo{
        font-size: 15px;
        width: 100px;
        margin: 15px 10px;
    }
}