.boxConhecimentos{
    margin: 0 50px;
    width: 350px;
    height: 100%;
    text-align: center;    
}

.boxTitulo{
    color: white;
    background: rgba(12, 12, 12, 0.8);
    padding: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 3px 2px 5px black;
}

.boxItens{
    background-color: rgba(202, 202, 202, 0.87);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 12px 0 12px 0;
    box-shadow: 3px 2px 5px black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 400px;
}

@media (max-width: 480px){
    .boxConhecimentos{
        margin: 0 20px;
    }

}
