.Tecnologias{
    background: #27223C;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    width: 120px;
    height: 120px;
    padding: 18px;
    margin: 5px;
    transition: .5s;
	filter: grayscale(120%);

    p{
        width: 120px;
        font-size: 24px;
        text-align: center;
        color: #5a5a5a;
        transition: .6s;
    }

    img{
        width: 60px;
    }
}

.Tecnologias:hover{
	filter: none;
    
    p{
        color: #f3f3f3;
    }
}

.BoxImagem{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}