.boxProjetos{
    margin: 0 30px 15px 30px;
    width: 350px;
    height: 100%;
    text-align: center;
}

.boxTitulo{
    color: white;
    background: rgba(12, 12, 12, 0.8);
    padding: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 3px 2px 5px black;
}

.boxItensProjeto{
    background-color: rgba(202, 202, 202, 0.85);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 12px 0 12px 0;
    box-shadow: 3px 2px 5px black;
    text-align: justify;
    padding: 12px;
    height: 900px;
}

.tumbProjeto{
    display: flex;
    justify-content: center;
}

.tumbProjeto img{
    width: 300px;
    height: 200px;
    box-shadow: 3px 2px 5px black;
    border-radius: 25px;
}

.descricaoProjeto{
    margin: 32px 0;
    font-size: 20px;
}

.ideProjeto{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.linguagensProjeto{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btnTestar{
    display: flex;
    justify-content: center;

    button{
        font-size: 20px;
    }
}

@media (max-width: 480px){
    .boxProjetos{
        width: 250px;
        margin: 16px 0;

        button{
            font-size: 15px;
            width: 150px;
            margin: 15px 10px;
        }
    }

    .tumbProjeto{
        img{
            width: 200px;
            height: 150px;
        }
    }

    .descricaoProjeto{
        font-size: 17px;
    }

    .linguagensProjeto{
        height: 300px;
        overflow: auto;
    }

}